/JSF/composite-date/build/
/JSF/composite-date/nbproject/private/
/JSF/example/day2_3teastoreDatatable_Michael/build/
/JSF/example/day2_3teastoreDatatable_Michael/dist/
/JSF/example/day2_3teastoreDatatable_Michael/nbproject/private/
/JSF/example/lab2_2TeaAdvisorJSF_Fady/build/
/JSF/example/lab2_2TeaAdvisorJSF_Fady/dist/
/JSF/example/lab2_2TeaAdvisorJSF_Fady/nbproject/private/
/JSF/lab1/IntroDemoUsingJSPAndServlet/build/
/JSF/lab1/IntroDemoUsingJSPAndServlet/dist/
/JSF/lab1/IntroDemoUsingJSPAndServlet/nbproject/private/
/JSF/lab1/JSFIntroLab/build/
/JSF/lab1/JSFIntroLab/dist/
/JSF/lab1/JSFIntroLab/nbproject/private/
/JSF/lab1/JSFintroDemo/build/
/JSF/lab1/JSFintroDemo/nbproject/private/
/JSF/lab1/JSPIntroLabUsingJsp/build/
/JSF/lab1/JSPIntroLabUsingJsp/dist/
/JSF/lab1/JSPIntroLabUsingJsp/nbproject/private/
/JSF/lab2/BeerV1/build/
/JSF/lab2/BeerV1/nbproject/private/
/JSF/lab2/JSFQuizLab/build/
/JSF/lab2/JSFQuizLab/dist/
/JSF/lab2/JSFQuizLab/nbproject/private/
/JSF/lab2/Lab04/build/
/JSF/lab2/Lab04/dist/
/JSF/lab2/Lab04/nbproject/private/
/JSF/lab2/VeerToTeaJSF/build/
/JSF/lab2/VeerToTeaJSF/dist/
/JSF/lab2/VeerToTeaJSF/nbproject/private/
/JSF/lab3/JSFQuizLab/build/
/JSF/lab3/JSFQuizLab/dist/
/JSF/lab3/JSFQuizLab/nbproject/private/
/JSF/lab3/TeaDatatableJSF/build/
/JSF/lab3/TeaDatatableJSF/dist/
/JSF/lab3/TeaDatatableJSF/nbproject/private/
/JSF/lab3/TeaJSFDatatable/build/
/JSF/lab3/TeaJSFDatatable/dist/
/JSF/lab3/TeaJSFDatatable/nbproject/private/
/JSF/lab4/FaceletsLab/TeaStore/build/
/JSF/lab4/FaceletsLab/TeaStore/dist/
/JSF/lab4/FaceletsLab/TeaStore/nbproject/private/
/JSF/lab4/planets/build/
/JSF/lab4/planets/dist/
/JSF/lab4/planets/nbproject/private/
/JSF/lab4/teastore/build/
/JSF/lab4/teastore/dist/
/JSF/lab4/teastore/nbproject/private/
/JSF/lab5/JSF-Example/target/
/JSF/lab5/TeaDatatableJSFWithValidatorAndConverter/build/
/JSF/lab5/TeaDatatableJSFWithValidatorAndConverter/dist/
/JSF/lab5/TeaDatatableJSFWithValidatorAndConverter/nbproject/private/
/JSF/lab5/TeaStore/build/
/JSF/lab5/TeaStore/dist/
/JSF/lab5/TeaStore/nbproject/private/
/JSF/lab6/SpinnerCustomComponentJSF/build/
/JSF/lab6/SpinnerCustomComponentJSF/nbproject/private/
/JSF/lab6/spinner/build/
/JSF/lab6/spinner/dist/
/JSF/lab6/spinner/nbproject/private/
/JSF/lab6/spinner2/build/
/JSF/lab6/spinner2/nbproject/private/
/JSF/lab7/NameApp/NameAppV1/build/
/JSF/lab7/NameApp/NameAppV1/nbproject/private/
/JSF/lab7/NameApp/NameAppV2/build/
/JSF/lab7/NameApp/NameAppV2/dist/
/JSF/lab7/NameApp/NameAppV2/nbproject/private/
/JSF/lab7/NameApp/NameAppV3/build/
/JSF/lab7/NameApp/NameAppV3/dist/
/JSF/lab7/NameApp/NameAppV3/nbproject/private/
/JSF/lab7/ValueChangeListener/build/
/JSF/lab7/ValueChangeListener/dist/
/JSF/lab7/teastore/build/
/JSF/lab7/teastore/dist/
/JSF/lab7/teastore/nbproject/private/
/JSF/lab7/valuechange/build/
/JSF/lab7/valuechange/dist/
/JSF/lab7/valuechange/nbproject/private/
/JSF/lab8/AjaxDateTimeDemoPlusSolution/build/
/JSF/lab8/AjaxDateTimeDemoPlusSolution/dist/
/JSF/lab8/AjaxDateTimeDemoPlusSolution/nbproject/private/
/JSF/lab8/AssemblyAJAX/build/
/JSF/lab8/AssemblyAJAX/dist/
/JSF/lab8/AssemblyAJAX/nbproject/private/
/JSF/lab9/AjaxFormFilling/build/
/JSF/lab9/AjaxFormFilling/dist/
/JSF/lab9/AjaxFormFilling/nbproject/private/
/JSF/lab9/demo/autoComplete/build/
/JSF/lab9/demo/autoComplete/dist/
/JSF/lab9/demo/autoComplete/nbproject/private/
/JSF/lab9/demo/echo/build/
/JSF/lab9/demo/echo/nbproject/private/
/JSF/lab9/demo/requestMonitor/build/
/JSF/lab9/demo/requestMonitor/dist/
/JSF/lab9/demo/requestMonitor/nbproject/private/
/JSF/lab9/demo/validation/nbproject/private/
/JSF/simple-composite/build/
/JSF/simple-composite/nbproject/private/
/Spring MVC/webstore0.1/target/
/JSF/lab10/teastore/build/
/JSF/lab10/teastore/dist/
/JSF/lab10/teastore/nbproject/private/
/Spring MVC/TinyTeaStarter/dist/
/Spring MVC/Lesson01.2-hibernate-jpa/target/
/Spring MVC/edu.mum.webstore0.9_base/edu.mum.webstore0.9_base/target/